
:root {
  --bg-color: #fff;
  --headings-color: #000000;
  --desc-color: #000000;
}

body[data-theme="dark-theme"] {
  --bg-color: #000000;
  --headings-color: #e8e1e1;
  --desc-color: #fff;
}

body[data-theme="sea-theme"] {
  --bg-color: #ffe699;
  --headings-color: #96ceb4;
  --desc-color: #ff9292;
}

body[data-theme="sharp-theme"] {
  --bg-color: #ff7777;
  --headings-color: #a2416b;
  --desc-color: #852747;
}

body {
  background: var(--bg-color) !important;
}
 
.hero-section-title {
  
  color: var(--headings-color);
}

.select-theme-heading {
  color: var(--headings-color);
}

.hero-section-desc {
 
  color: var(--desc-color);
}
  